.para {
  background-color: yellowgreen;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  height: auto;
}
