.ButtonWrap {
  background-color: #f3f2f5;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.buttontag {
  color: #fff;
  background-color: #848d96;
  border: 1px solid #848d96;
  border-radius: 0.5rem;
  padding: 0 0.4rem;
  margin: 1rem;
}

/* FIX THIS!! */
.buttentagIsActive {
  background-color: blue;
}
